.flex-container {
    border-radius: 20%;
    justify-content: center;
    display: flex;
    height: 50px;
    border: 2px solid blue;
    margin: 10px;
    width: 300px;
    background-color: blue;
}

.box {
    border-radius: 8%;
    width: 45px;
    height: 25px;
    background-color: black;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 10px;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-arond {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}
